body {
    width: 1500px;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-self: center;
    background-color: darkgray;
}

.wraper {
    display: grid;
    grid-template-columns: repeat(30, 50px);
    grid-template-rows: repeat(30, 50px);
}

header {
    grid-column: 1/31;
    grid-row: 1/4;
    background: black;
    display: flex;
}

.logo {
    display: flex;
    width: 250px;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.menu {
    display: flex;
    width: 900px;
    align-items: center;
    justify-content: center;
    padding-left: 100px;
}

 .home, .maps, .info {
    border-radius: 0.2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    width: 60px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 22px;
}