body {
    width: 100%;
    height: 1200px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: darkgray;
}

.wraper {
    display: grid;
    grid-template-columns: repeat(28, 50px);
    grid-template-rows: repeat(24, 50px);
}

header {
    grid-column: 1/29;
    grid-row: 1/4;
    background-color: black;
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    width: 250px;
    justify-content: center;
    position: absolute;
    padding: 20px;
}

.menu {
    display: flex;
    width: 100%;
    justify-content: center;
}

 .home, .maps, .info {
    border-radius: 0.2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    width: 60px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 22px;
}

main {
    grid-column: 1/29;
    grid-row: 4/22;
    background-color: rgb(51, 51, 51);
    position: relative;
    display: flex;
    align-items: center;
}

main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 25px;
        background: linear-gradient(
        to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 50%, rgb(0, 0, 0) 100%);
    pointer-events: none;
}

main::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 25px;
    background: linear-gradient(
        to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 50%, rgb(0, 0, 0) 100%);
    pointer-events: none;
}

.splide {
    background-color: rgb(51, 51, 51);
    height: 800px;
    width: 1400px;
    display: flex;
    align-items: center;
}

.quest_info_1 {
    background-color: grey;
    height: 700px;
    width: 400px;
}

.quest_imgs_1 {
    background-color: gray;
    height: 700px;
    width: 700px;
}

.slide_content_1 {
    display: flex;
    height: 700px;
    width: 1400px;
    gap: 100px;
    justify-content: center;
}

footer {
    grid-column: 1/29;
    grid-row: 22/25;
    background-color: black;
}